#contact {
    background: linear-gradient(to right, #0062E6, #33AEFF);
}


/**
* Reference: https://bootsnipp.com/snippets/eoXRa
*/
#contact .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; 
}
#contact .single h2 {
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    margin-bottom: 1rem; 
}

#contact .single p {
    font-size: 1.3rem;
    color: white;
    margin-bottom: 1rem; 
}

#contact .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 20px 0 0 20px; 
}

#contact .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f; 
}

#contact .single .btn {
    min-height: 50px; 
    border-radius: 0 20px 20px 0;
    background: #243c4f;
    color: #fff;
}